<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @posts.each do |post| %>
    <ul>
      <li> <%= post.name %> </li>
      <li> <%= post.content %> </li>
    </ul>
   <% end %>



  </body>
</html>
