<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Post Homepage</title>
  </head>
  <body>
    <%= yield %>
    <a href='/posts'>all posts</a>
    <a href='/posts/new'>create new post</a>

  </body>
</html>
