<h2> Post Creation Form </h2>

<form action="/posts" method="post">
  <p>first_name <input type="text" name="name" /> </p>
  <p>some_content <input type="text" name="content" /> </p>
  <input type="submit" id="Submit" value="submit" />
</form>
