<h1> ENTER YOUR POST DETAIIIIILLLSSSS</h1>

<form method="POST" action="/posts">
  <input type="text" name="name">
  <input type="text" name="content">
  <input type="submit" value="submit">

</form>
