<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Posts</title>
  </head>
  <body>
    <h1>All Posts</h1>
    <form  action="/posts" method="post">
      <h2>Type name:</h2><input type="text" name="name" value="">
      <h2>Type content:</h2><input type="text" name="content" value="">
      <input type="submit" id="submit">

    </form>

  </body>
</html>
