<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Post</title>
</head>
<body>
  <form action="/posts" method="post">
    <p>Title: <input type="text" name="name" id="name"></p>
    <p>Content: <textarea name="content" id="content" cols="30" rows="10"></textarea></p>
    <input type="submit" value="submit">
  </form>
</body>
</html>